In [1]:
import numpy as np

In [2]:
# create a list of height obs in inches
height = [72, 68, 69, 68, 72, 72]

# convert these obs to meters, conversion is inches*0.0254
#height*0.0254

height_m = [0 for _ in range(len(height))]

for i in range(len(height)):
    height_m[i] = height[i]*0.0254
height_m

[1.8288, 1.7271999999999998, 1.7526, 1.7271999999999998, 1.8288, 1.8288]

In [4]:
numbers = [1,2,3,4,5,6,7,8]
num2 = [1.1,1.2,2.3,1.3,2.5,3.1,1.1,1.8]

x = np.array(numbers, dtype = 'float')
y = np.array(num2)
z = np.arrray(numbers)

print(z)

AttributeError: module 'numpy' has no attribute 'arrray'

In [3]:
np_height = np.array(height)
np_height*0.0254

array([1.8288, 1.7272, 1.7526, 1.7272, 1.8288, 1.8288])

In [17]:
# one difference between lists and numpy arrays
mylist1 = [2,4,6]
mylist2 = [1,3,5]

mylist1 + mylist2 # appends

np_mylist1 = np.array(mylist1)
np_mylist2 = np.array(mylist2)
np_mylist1 + np_mylist2

array([ 3,  7, 11])

In [23]:
age = np.array([5,10,25,23,7])
# return the second element in age
print(age[1])
# return numbers 10 through 23
print(age[1:4])
# return all numbers from 25
print(age[2:])
# reverse the array
print(age[::-1])

10
[10 25 23]
[25 23  7]
[ 7 23 25 10  5]

In [27]:
# create a numpy vector of numbers between 2,10 with steps of 2
#print(np.arange(2,11,2))
# create a numpy vector of numbers between 2,10 with steps of .2
print(np.arange(2,10.2,.2))

[ 2.   2.2  2.4  2.6  2.8  3.   3.2  3.4  3.6  3.8  4.   4.2  4.4  4.6
  4.8  5.   5.2  5.4  5.6  5.8  6.   6.2  6.4  6.6  6.8  7.   7.2  7.4
  7.6  7.8  8.   8.2  8.4  8.6  8.8  9.   9.2  9.4  9.6  9.8 10. ]

In [37]:
print(age)
# return where age > 20
print(age[age>20])
# return where age <10 or age > 20
# or: |
# and: &
# not: ~ 
# not equals: !=
# equals: ==
print(age[(age<10)|(age>20)])
# return where age is not 10
print(age[~(age==10)])
print(age[age!=10])

[ 5 10 25 23  7]
[25 23]
[ 5 25 23  7]
[ 5 25 23  7]
[ 5 25 23  7]

In [54]:
# 2d arrays in numpy
height

# weight in lbs
weight = [200, 160, 150, 210, 200, 100]

mydata = np.array([height,weight])
print(mydata)

print(mydata.ndim)
print(mydata.size)
print(mydata.shape)

print(mydata[1,1])
# everything in row 2 from 160
print(mydata[1,1:])

[[ 72  68  69  68  72  72]
 [200 160 150 210 200 100]]
2
12
(2, 6)
160
[160 150 210 200 100]

In [70]:
# reshaping arrays in numpy
x = np.arange(1,10)
#print(x)
A = x.reshape(3,3)
print(A)

# resize() does the same, but overwrites
# reshape() does not overwrite
#x.resize(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [77]:
A = x.reshape(-1,3) # -1 is a wildcard
print(A)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [85]:
# convert height obs from inches to m (conversion is inches*0.0254)
# and weight from lbs to kg (conversion is lbs*0.4535)
mydata
# create a multiplier numpy array object named my_multiplier
my_multiplier = np.array([0.0254,0.4535])

mydata.reshape(6,2)*my_multiplier

array([[ 1.8288, 30.838 ],
       [ 1.7526, 30.838 ],
       [ 1.8288, 32.652 ],
       [ 5.08  , 72.56  ],
       [ 3.81  , 95.235 ],
       [ 5.08  , 45.35  ]])