In [17]:
topnames = {'year': [2018,2018,2017,2017,2016,2016],
           'sex': ['Male','Female','Male','Female','Male','Female'],
           'name': ['Liam','Emma','Liam','Emma','Noah','Emma'],
           'count':[19837,18688,19800,19117,19496]}
topnames

{'year': [2018, 2018, 2017, 2017, 2016, 2016],
 'sex': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
 'name': ['Liam', 'Emma', 'Liam', 'Emma', 'Noah', 'Emma'],
 'count': [19837, 18688, 19800, 19117, 19496]}

In [18]:
topnames['year']

[2018, 2018, 2017, 2017, 2016, 2016]

In [19]:
print(topnames['year'][3],topnames['sex'][3],topnames['name'][3],topnames['count'][3])

2017 Female Emma 19117

In [20]:
topnames = {'year': [2018,2018,2017,2017,2016,2016],
           'sex': ['Male','Female','Male','Female','Male','Female'],
           'name': ['Liam','Emma','Liam','Emma','Noah','Emma'],
           'count':[19837,18688,19800,19117,19496]}

In [21]:
pip install pandas

Requirement already satisfied: pandas in /Users/rahmasemma/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/rahmasemma/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/rahmasemma/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/rahmasemma/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/rahmasemma/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pandas as pd

In [23]:
data= pd.Series([10,30,-6,9], index=['obj1','obj2','obj3','obj4'])
print (data)

obj1    10
obj2    30
obj3    -6
obj4     9
dtype: int64

In [24]:
data[0]

10

In [25]:
data['obj1']

10

In [26]:
population_dict = {'california': 3800000,
                  'Texas': 2600000}
population = pd.Series(population_dict)
print(population)

california    3800000
Texas         2600000
dtype: int64

In [27]:
population['california']

3800000

In [28]:
data.mean()

10.75

In [29]:
data.max

<bound method NDFrame._add_numeric_operations.<locals>.max of obj1    10
obj2    30
obj3    -6
obj4     9
dtype: int64>

In [30]:
data.std()

14.773286702694158

In [31]:
import numpy as np
np.sqrt(data)

/Users/rahmasemma/anaconda3/lib/python3.11/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

obj1    3.162278
obj2    5.477226
obj3         NaN
obj4    3.000000
dtype: float64

In [33]:
#create 
df = pd.read_csv(https://github.com/ernbilen/Data200_Fall23/blob/main/data/countries.csv)
df

SyntaxError: invalid syntax (206120583.py, line 2)

In [ ]:
#checks each column's
print(df.dtypes)
print(df.shape)
print

In [34]:
dataDoL={'name':['Bella','Charlie','Lucy','Coooper','Max','Stella','Bernie'], 
         'breed':['Labrador','Poodle','ChowChow','Schnauzer','Labrador','Chihuahua','St.Bernard'],
         'color': ['Brown','Black','Brown','Gray','Black','Tan','White'], 
         'height_cm':[56,43,46,49,59,18,77], 'weight_kg':[24,24,24,17,29,2,74], 
         'date_of_birth':['2013-07-01','2016-09-16','2014-08-25','2011-12-11','2017-01-28',\
                          '2015-04-20', '2018-02-27']}

In [37]:
df = pd.DataFrame(dataDoL)
df

      name       breed  color  height_cm  weight_kg date_of_birth
0    Bella    Labrador  Brown         56         24    2013-07-01
1  Charlie      Poodle  Black         43         24    2016-09-16
2     Lucy    ChowChow  Brown         46         24    2014-08-25
3  Coooper   Schnauzer   Gray         49         17    2011-12-11
4      Max    Labrador  Black         59         29    2017-01-28
5   Stella   Chihuahua    Tan         18          2    2015-04-20
6   Bernie  St.Bernard  White         77         74    2018-02-27